.grid-container {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-template-rows: 5% 7% 90%;
  margin: 5px;
  grid-gap: 5px;
}

.card {
  margin: 5px;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
}

.gameboard {
  /* margin: 5px; */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
}


.title {
  grid-row-start: 1;
  grid-row-end:1;
  grid-column-start: 1;
  grid-column-end:1;
}

.dropdown {
  /* text-align: right;
  margin-top: 10px;
  width: 30%;
  justify-self: end; */
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 100%;
}

mat-option {
  text-align: right;
}
