.grid-container {
  display: grid;
  grid-template-columns: 25% 70%;
  margin: 10px;
}

.grid-item {
  margin: 5px;
}

.dropdown {
  text-align: right;
  margin-top: 10px;
  width: 30%;
  justify-self: end;
}

mat-option {
  text-align: right;
}
